<!DOCTYPE html>
<html>
<head>
  <title>Repres HyperText</title>
  <%= stylesheet_link_tag 'repres/hyper_text/application', media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'repres/hyper_text/application' %>

</body>
</html>
