<!DOCTYPE html>
<html>
<head>
  <title>Repres HyperText</title>
  <%= stylesheet_link_tag    "bootstrap/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'bootstrap/application' %>

</body>
</html>
